.info_overall{
    width : 100%;
    height : calc(100% - 3rem);
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:flex-start;
    .info_table{
        margin:5rem 0 0 0;
        border:1px solid #ccc;
        border-collapse: separate;
        border-spacing: 1rem;
        td, th {
            padding: 0.8rem; 
        }
    }
    .info_buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .info_button_edit{
            margin:1.5rem 0 0 0;
            background-color: royalblue;
            color:white;
            border:1px solid royalblue;
            padding:4px 10px;
            width:6rem;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                background-color: white;
                color:royalblue;
            }
        }
        .info_button_back{
            display: flex;
            justify-content: center;
            align-items: center;
            margin:0.8rem 0 0 0;
            background-color: royalblue;
            color:white;
            width:6rem;
            border:1px solid royalblue;
            padding:4px 10px;
            text-decoration: none;
            &:hover{
                background-color: white;
                color:royalblue;
            }
        }
    }

}
