.list_overall{
    width : 100%;
    height : calc(100% - 3rem);
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:flex-start;
    .list_table{
        margin:5rem 0 0 0;
        border:1px solid #ccc;
        border-collapse: separate;
        border-spacing: 1rem;
        button{
            margin: 0 0.5rem;
            padding:0.2rem 0.5rem;
        }
        .list_detail{
            border:1px solid royalblue;
            background-color: royalblue;
            color:white;
            &:hover{
                background-color: white;
                color:royalblue;
            }
        }
        .list_edit{
            border:1px solid royalblue;
            background-color: royalblue;
            color:white;
            &:hover{
                background-color: white;
                color:royalblue;
            }
        }
        .list_delete{
            border:1px solid red;
            background-color: red;
            color:white;
            &:hover{
                background-color: white;
                color:red;
            }
        }
    }

}