.potfolio_logo_wrapper{
    height:6rem;
    width:6rem;
    background-color: rgb(45,44,50);
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 1rem 0 0;
    position:relative;
    @media (max-width: 1045px){
        height:4rem;
        width:4rem;
    }
}
.potfolio_logo{
    height:2.5rem;
    color:var(--global-fontcolor);
    :hover{
        color:var(--global-decocolor);
    }
 
}
.potfolio_logo_wrapper:hover .potfolio_logo_tooltip{
    visibility: visible;
    opacity: 0.8;
}

.potfolio_logo_tooltip {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    width: 100px;
    background-color: var(--global-fontcolor);
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 0;
    opacity: 0;
    transition: opacity 0.3s;
}