.potfolio_logo_wrapper{
    height:6rem;
    width:6rem;
    background-color: rgb(45,44,50);
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 1rem 0 0;
}
.potfolio_logo{
    height:2.5rem;
    color:white;
    :hover{
        color:rgb(0,255,165);
    }
}