.portfolio_smallblock{
    margin:1rem 1.5rem 1rem 0;
    color:white;
    width:15rem;
    height: 7.5rem;
    border-radius: 10px;
    background-color: rgb(45,44,50);
    position:relative;
    .portfolio_smallblock_year{
       position: absolute;
       top:1rem;
       left:2rem;
       font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       color:rgb(0,255,165);
       font-size: 0.8rem;
    }
    .portfolio_smallblock_title{
       position: absolute;
       top:2rem;
       left:2rem;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       color:rgb(0,255,165);
    }
    .portfolio_smallblock_place{
        position: absolute;
        top:6rem;
        left:2rem;
        .portfolio_smallblock_place_dot{
             background-color:rgb(0,255,165);
             height:0.3rem;
             width:0.3rem;
             border-radius: 50%;
             position: absolute;
             top:0;
             left:0;
        }
        .portfolio_smallblock_place_words{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 0.8rem;
            width:9rem;
            position:absolute;
            top:-0.4rem;
            left:1rem;
        }
    }
}